ul li {
  list-style: none;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  display: inline-block !important;
}

nav > .btn-success {
  float: right !important;
}

nav > .btn-primary {
  margin-left: 15px;
}